html {
  height: 100%;
  padding: 0px;
}
body{
  height: 100%;
  background-color: aqua;
  padding: 0px;
}

/*root div*/
#root{
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* App.js */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;

  width: 100%;
}

/* ScoreBoard.js */
#ScoreBoard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;

  padding: 15px;
  width: 300px;

  border: 1px solid black;
  border-radius: 5px;
}
#ScoreBoard p {
  margin: 0px;
}

/*CardBoard.js*/
#CardBoard {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}